    @font-face {
    src: url(../fonts/Garet-Book.ttf);
    font-family: garet;
    }

    p {
    font-family: garet;
    }

    .buttons-container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .buttons {
        font-family: garet;
        font-size: 15px;
        letter-spacing: 2px;
        text-align: right;
        padding-right: 50px;
    } 

    #home {
        text-decoration: none;
        color: black;
    }

    #home:hover {
        border-bottom: 1px solid black;
        font-size: larger;
    }

    #aboutme {  
        margin-left: 20px;
        margin-top: -150px;
        text-decoration: none;
        color: black;
    }

    #aboutme:hover {
        border-bottom: 1px solid black;
        font-size: larger;
    }

    #skills {
        margin-left: 20px;
        margin-top: -150px;
        text-decoration: none;
        color: black;
    }

    #skills:hover {
        border-bottom: 1px solid black;
        font-size: larger;
    }

    #resume {
        margin-left: 20px;
        margin-top: -150px;
        text-decoration: none;
        color: black;
    }

    #resume:hover {
        border-bottom: 1px solid black;
        font-size: larger;
    }

    #gallery {
        margin-left: 20px;
        margin-top: -150px;
        text-decoration: none;
        color: black;
    }

    #gallery:hover {
        border-bottom: 1px solid black;
        font-size: larger;
    }

    #beat {
        margin-left: 20px;
        margin-top: -150px;
        text-decoration: none;
        color: black;
    }

    #beat:hover {
        border-bottom: 1px solid black;
        font-size: larger;
    }

    #movie {
    margin-left: 20px;
    margin-top: -150px;
    text-decoration: none;
    color: black;
    }

    #movie:hover {
        border-bottom: 1px solid black;
        font-size: larger;
    }
    
    #tv {
        margin-left: 20px;
        margin-top: -150px;
        text-decoration: none;
        color: black;
    }
    
    #tv:hover {
        border-bottom: 1px solid black;
        font-size: larger;
    }
    #bucketlist {
        margin-left: 20px;
        margin-top: -150px;
        text-decoration: none;
        color: black;
    }

    #bucketlist:hover {
        border-bottom: 1px solid black;
        font-size: larger;
    }

    #places {
        margin-left: 20px;
        margin-top: -150px;
        text-decoration: none;
        color: black;
    }

    #places:hover {
        border-bottom: 1px solid black;
        font-size: larger;
    }

    #btn1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        letter-spacing: 2px;
        font-size: 40px;
    }

    #btn1:hover {
        font-size: 50px;
        border-bottom: 2px solid black;
    }

    #btn2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        letter-spacing: 2px;
        font-size: 40px;
        margin-left: 100px;
    }

    #btn2:hover {
        font-size: 50px;
        border-bottom: 2px solid black;
    }

    #btn3 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        letter-spacing: 2px;
        font-size: 40px;
        margin-left: 100px;
    }

    #btn3:hover {
        font-size: 50px;
        border-bottom: 2px solid black;
    }

    .main {
        margin-top: 200px;
        margin-bottom: 350px;
    }
    .main-content {
        text-align: center;
    }

    #childhood-title {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
        letter-spacing: 2px;
        text-align: center;
        margin-bottom: 0px;
    }

    #cnt-childhood {
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: justify;
        text-indent: 3px;
        margin-right: 50px;
        margin-left: 50px;
    }

    #teenage-title {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
        letter-spacing: 2px;
        text-align: center;
        margin-bottom: 0px;
    }

    #cnt-teenage {
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: justify;
        text-indent: 3px;
        margin-right: 50px;
        margin-left: 50px;
    }

    #college-title {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
        letter-spacing: 2px;
        text-align: center;
        margin-bottom: 0px;
    }

    #cnt-college {
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: justify;
        text-indent: 3px;
        margin-right: 50px;
        margin-left: 50px;
    }

    .button1 {
        font-family: garet;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        color: black;
        margin-bottom: 20px;
    }

    #button1:hover {
        font-family: garet;
        font-size: 20px;
        padding: 5px;
        border: 1px solid black;
        border-radius: 5px;
        color: black;
        text-decoration: none;
    }

    .button2 {
        font-family: garet;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        color: black;
        margin-bottom: 20px;
    }

    #button2:hover {
        font-family: garet;
        font-size: 20px;
        padding: 5px;
        border: 1px solid black;
        border-radius: 5px;
        color: black;
        text-decoration: none;
    }

    
    .button3 {
        font-family: garet;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        color: black;
        margin-bottom: 20px;
    }

    #button3:hover {
        font-family: garet;
        font-size: 20px;
        padding: 5px;
        border: 1px solid black;
        border-radius: 5px;
        color: black;
        text-decoration: none;
    }

    #home2 {
        font-family: garet;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        color: black;
        margin-bottom: 20px;
    }
    
    #home2:hover {
        font-family: garet;
        font-size: 20px;
        margin-left: 20px;
        padding: 5px;
        border: 1px solid black;
        border-radius: 5px;
        color: black;
        text-decoration: none;
    }

    img {
        width: 350px;
        height: auto;
        border: 1px solid black;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 5px 10px 10px gray;
        opacity: 0.75; 
    }

    img:hover {
        width: 400px;
        height: auto;
        opacity: 1;
    }


    #img-container {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
